{% extends 'base.html' %}

{% block head %}
<title>Upload</title>
{% endblock %}

{% block body %}
    <h1>Upload an Image</h1>
    <form action="{{ url_for('upload_image') }}" method="post" enctype="multipart/form-data" class="uploads">
      <input type="file" name="file" id="upload_image">
      <input type="submit" value="Search" id="Search_button">
    </form>
    <h2>Sample Images</h2>
    <div class="sample_container">
      {% for image in images %}
        <div class = "image_sample" style="margin-bottom: 20px;">
          <h3>{{ image.folder.replace("_", " ") }}</h3>
          <img src="{{ url_for('image_file', filename=image.path.split(image_folder)[-1][:]) }}" class ="image_sample" alt="Sample Image" style="width: 200px; height: auto; margin: 10px;">
        </div>
      {% endfor %}
    </div>
{% endblock %}